<nav class="navbar">

  <a href="#home" class="navbar-brand">
    <img src="assets/logo.jpeg" alt="Zest 4 Construction Logo"  class="logo">
  </a>

  <!-- Бургер-меню с событием клика -->
  <div class="burger-menu" (click)="toggleMenu()">
    &#9776; <!-- Иконка бургера -->
  </div>
  
  <!-- Контейнер       <li><a href="#about-projects" [class.active]="isActive('about')"><i class="fas fa-user"></i> About</a></li>
 для навигации -->
  <div class="container">
    <ul class="nav" [class.open]="menuOpen">
      <li><a href="#" [class.active]="isActive('home')"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="#services" [class.active]="isActive('services')"><i class="fas fa-tools"></i> Services</a></li>
      <li><a href="#about-projects" [class.active]="isActive('about-projects')"><i class="fas fa-hard-hat"></i> Projects</a></li>
      <li><a href="#testimonials" [class.active]="isActive('testimonials')"><i class="fas fa-comments"></i> Testimonials</a></li>
      <li><a href="#contacts" [class.active]="isActive('contacts')"><i class="fas fa-phone"></i> Contact</a></li>
    </ul>
  </div>
</nav>
