:host {
    display: flex; /* Меняем на flex для центровки */
    justify-content: center; /* Центрируем по горизонтали */
    width: 100%; /* Делаем ширину на всю страницу */
    padding: 0px 0; /* Добавляем отступы сверху и снизу, чтобы выглядело лучше */
  
    .slides {
      width: 80%; /* Ширина слайдера */
      max-width: 600px; /* Ограничиваем максимальную ширину */
      height: 280px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      align-items: center;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Добавляем тень для улучшения внешнего вида */
  
      .slide {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        align-items: center;

      }
  
      .nextButton,
      .previousButton {
        position: absolute;
        top: 50%;
        border: 0px;
        background-color: transparent;
        font-size: 30px;
        color: #fff;
        cursor: pointer; /* Добавляем указатель для кнопок */
        transform: translateY(-50%); /* Центрируем кнопки по вертикали */
      }
  
      .nextButton {
        right: 20px;
      }
  
      .previousButton {
        left: 20px;
      }
  
      #indicators {
        position: absolute;
        left: 0px;
        right: 0px;
        margin: auto;
        bottom: 20px;
        width: 200px;
        display: flex; /* Добавляем flex для выравнивания индикаторов */
        justify-content: center; /* Центрируем индикаторы по горизонтали */
  
        .indicator {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #fff;
          display: inline-block;
          margin: 0px 5px;
          cursor: pointer;
          transition: background-color 0.5s ease-in-out;
  
          &.active {
            background-color: #4f4f4f;
          }
        }

      }

      @media (max-width: 480px) {
        .slides{
          margin-left: 60px;
          max-width: 100%;
        }
      }
    }
  }
  