<app-header></app-header>
<!-- Главная страница -->
<section id="home" class="home">
  <h1>Quality Service, Quality Results</h1>
  <button class="cta-button"(click)="redirectToEstimate()">Get Free Estimate</button>
</section>

<!-- Услуги -->
<section id="services" class="services">
  <h2>General Contractor Services</h2>
  <div class="service-list">
    <div class="service-item">
      <i class="fas fa-tools icon"></i>
      <h3>General Contractor Services</h3>
      <ul>
        <li>Home Remodeling</li>
        <li>Kitchen Remodeling</li>
        <li>Bathroom Remodeling</li>
        <li>Home Additions</li>
        <li>ADUs</li>
      </ul>
    </div>
    <div class="service-item">
      <i class="fas fa-water icon"></i>
      <h3>Plumbing Services</h3>
      <ul>
        <li>Full house water repiping</li>
        <li>Water line repair</li>
        <li>Sewer line</li>
        <li>Kitchen sink installation</li>
        <li>Faucet installation</li>
        <li>Bathtub installation</li>
      </ul>
    </div>
    <div class="service-item">
      <i class="fas fa-fan icon"></i>
      <h3>Heating, Ventilation, and Air Conditioning</h3>
      <ul>
        <li>HVAC system maintenance</li>
        <li>HVAC installation or replacement</li>
        <li>HVAC system repair</li>
      </ul>
    </div>
    <div class="service-item">
      <i class="fas fa-cube icon"></i>
      <h3>Custom Kitchen Cabinets</h3>
      <ul>
        <li>Kitchen cabinet upgrades</li>
        <li>Custom cabinet design</li>
        <li>Refacing existing cabinets</li>
        <li>Installation of new cabinet doors</li>
        <li>Custom cabinet hardware</li>
      </ul>
    </div>
  </div>
</section>


<app-about-projects></app-about-projects>
<app-testimonials></app-testimonials>
<app-contacts></app-contacts>
<app-footer></app-footer>


