<section id="testimonials" class="testimonials">
  <h2 class="text-2xl font-medium mb-8 mt-6">What Our Clients Say</h2>
  <div class="reviiew-container">
    <div class="testimonial-container">
      <!-- Первые шесть отзывов остаются видимыми на всех устройствах -->
      <div class="testimonial-column">
        <img src="assets/chengYu.png" alt="">
        <p>"This team just completed an exterior door installation for my house. I'd like to give them a call as best handyman service..."</p>
      </div>
      <div class="testimonial-column ">
        <img src="assets/annie.png" alt="">
        <p>"Ali showed up exactly at our scheduled time to replace my garbage disposal and fix a hole in my wall..."</p>
      </div>
      <div class="testimonial-column">
        <img src="assets/roberto.png" alt="">
        <p>"It's been around three years since I reviewed Zest4, so I think it is time for me to provide an update on how ..."</p>
      </div>
      <div class="testimonial-column">
        <img src="assets/josephine.png" alt="">
        <p>I reached out to them on Yelp and got a response/quote from Naku within the hour. She told me that Ali was available the next day. I thought...</p>
      </div>
      <div class="testimonial-column">
        <img src="assets/thomas.png" alt="">
        <p>Oh wow. I am def going to call Ali (and Nasar) up for next jobs. They're awesome...</p>
      </div>
      <div class="testimonial-column">
        <img src="assets/vonn.png" alt="">
        <p>I have only looked for 3 things when finding a handyman, which is why I didn't have one until I reached out to Naku and his team...</p>
      </div>

      <!-- Последние 4 отзыва, скрываются на мобильных устройствах -->
      <div class="testimonial-column hidden-on-mobile">
        <img src="assets/rv.png" alt="">
        <p>Hired Zest 4 to remove my fireplace, extend the wall/niche, install a few power and low voltage outlets and install laminate flooring in the exposed area....</p>
      </div>
      <div class="testimonial-column hidden-on-mobile">
        <img src="assets/Divya.png" alt="">
        <p>The Zest 4 team is really good. Great communication, on time and very organized and detail oriented....</p>
      </div>
      <div class="testimonial-column hidden-on-mobile">
        <img src="assets/Ken.png" alt="">
        <p>It's been over 2 years since Zest 4 construction helped me with bathroom refresh. I hade Ali come out to replace my vanity and could not be more pleased with the results...</p>
      </div>
      <div class="testimonial-column hidden-on-mobile">
        <img src="assets/Neha.png" alt="">
        <p>Ali and his team did a wonderful job upgrading both our bathroom and kitchen. They were knowledgeable, polite,...</p>
      </div>
    </div>

    <button (click)="redirectToYelp()" class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 mt-6 mb-8 rounded shadow-lg focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-opacity-75">Go To Yelp</button>
  </div>
</section>
